	<!-- about starts here -->
	{{range $i, $v := where .Data.Pages "Type" "about"}}
	<section id="about">
		<div class="container">
			<div class="row">
			<!-- <div class="col-md-4 about-img">
				<img class="img-responsive" src="{{.Params.gravatarsrc}}">
				<p class="avatar-tagline">{{.Params.tagline}}</p>
			</div> -->
			<div class="col-md-8 col-md-offset-2 about-content">
				<p class="text-center tagline">{{.Params.para1}}</p>
				<p class="text-center title">{{.Params.para2}}</p>
				<div class="title_line"></div>
				<div class="desc">
					<p>{{.Params.para3}}</p>
					<p>{{.Params.para4}}</p>
					<p>{{.Params.para5}}</p>
				</div>
			</div>
		</div>
		</div>
	</section>
	<hr />
	{{end}}
	<!-- about ends here -->
