	<!-- about starts here -->
	{{range $i, $v := where .Data.Pages "Type" "about"}}
	<section id="about">
		<div class="container">
			<div class="row">
			<!-- <div class="col-md-4 about-img">
				<img class="img-responsive" src="{{.Params.gravatarsrc}}">
				<p class="avatar-tagline">{{.Params.tagline}}</p>
			</div> -->
			<div class="col-md-12 about-content">
				<p>{{.Params.para1}}</p>
				<p>{{.Params.para2}}</p>
				<p>{{.Params.para3}}</p>
				<p>{{.Params.para4}}</p>
			</div>
		</div>
		</div>
	</section>
	{{end}}
	<!-- about ends here -->
