<footer>
{{range $i, $v := where .Data.Pages "Type" "footer"}}
		<p>&copy; <script>document.write(new Date().getFullYear())</script> {{.Params.footertext}}</p>
{{end}}
</footer>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="assets/owlcarousel/owl.carousel.min.js"></script>
	<script type="text/javascript" src="assets/js/saadixl.js"></script>
	<script>
		if ('serviceWorker' in navigator) {
			window.addEventListener('load', function() {
				navigator.serviceWorker.register('/service-worker.js');
			});
		}
	</script>
	</body>
</html>
