<!DOCTYPE html>
<html>
	<head>

		<title>Masudul Haque</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="image/ico" href="{{.Site.BaseURL}}assets/img/favicon.ico"/>
		<!-- Google Web Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.css">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{{.Site.BaseURL}}assets/owlcarousel/owl.carousel.css">
				<link rel="stylesheet" href="{{.Site.BaseURL}}assets/owlcarousel/owl.theme.default.min.css">
		<link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}assets/css/saadixl.css">

	</head>
	<body>
	<!-- nav starts here -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand">saadixl</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav"></ul>
				<ul class="nav navbar-nav navbar-right">
					{{range .Site.Menus.main}}
						<li>
							{{if hasPrefix .URL "/#"}}
								<a class="page-scroll" href="{{if eq $.RelPermalink "/"}}{{replaceRE "^/" "" .URL}}{{else}}{{.URL}}{{end}}">{{.Name}}</a>
							{{else}}
								<a href="{{.URL}}">{{.Name}}</a>
							{{end}}
						</li>
					{{end}}
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<!-- nav ends here -->
