<!-- works starts here -->
	<section id="works">
		<div class="container">
			<div class="row">
			<div class="col-md-12 works-content">
				<div class="owl-carousel pro">
				{{range $i, $v := where .Data.Pages "Type" "proprojects"}}
					<div class="item">
		        		<div class="row">
		        			<div class="col-md-7">
		        				<img class="pro-project__logo" src="{{.Params.projectimg}}">
		        			</div>
		        			<div class="col-md-5 proj-detail">
		        				<h2>{{.Params.projectname}}</h2>
		        				<div class="proj-content">
			        				<p>{{.Params.projectdetails}}</p>
											<br />
			        				<p class="pro-project-meta"><span class="glyphicon glyphicon-cog"></span> {{.Params.builtwith}}</p>
			        				<p class="pro-project-meta"><span class="glyphicon glyphicon-info-sign"></span> {{.Params.builtunder}}</p>
		        				</div>
		        				<a target="_blank" href="{{.Params.projecturl}}" class="btn btn-default btn-lg proj-btn">{{.Params.buttontext}}</a>
		        			</div>
		        		</div>
		        	</div>
		        	{{end}}
				</div>
			</div>
		</div>
		</div>
	</section>
	<!-- works ends here -->
